<!doctype html>

<html>
  <h1>Welcome, <%= current_user.username %></h1>
  <h2>Click on one the options below to see more!</h2>
  
  <div class="nav"> 
  
  
  
  
  <form action="/logout" method="post">
  Logout?
  <input type="submit" name="logout" >
  </form>
  </div>
</html>


