<!doctype html>

<html>
  <h1>Welcome, <%= current_user.username %></h1>
  <h2>Here are your current favorite Animes'!</h2>
  <form action="/logout" method="post">
  Logout?
  <input type="submit" name="logout" >
  </form>

</html>


