<h1>This is the show page for an individual instance of your model.</h1>
<ul>
  <li><%= @show.title %></li>
  <li><%= @show.rating %></li>
  <li><%= @show.streaming_service %></li>
  <li><%= @show.review %></li>
</ul>

<!-- add an edit (link) and delete button (form) right here -->

