<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1>Welcome to AnimeWeeb!</h1>
    <h2>The ultimate tracker for your favorite animes'!</h2>

  <div class="content">
    <p> On AnimeWeeb, you can keep track of your favorite anime shows! You can leave a rating and review of the shows you are currently watching, along with the streaming service you use. You can also see other peoples animes' as well! That way, if you need another anime to watch, you can come to AnimeWeeb and see recommendations ;) Signup or Login to get started!</p>    
  </div>
  
  <div class="sidebar">
    <a class="active" href="/signup">Sign Up</a><br><br>
    <a class="active" href="/login">Login</a><br>
  </div>

  </div>
</div>
